@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: #e3e3e3;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
  

}

a {
  text-decoration:none;
  color: #666; 
  
}
.card {
  margin-top: 10px;
  margin-left: 30px;
  width: 90%;
  height: 90px;
  background: #fff;
  border-radius: 30px 10px 10px 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 24%), 0 2px 2px -1px rgba(0, 0, 0, 60%);
  position: relative;
  
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8px;
  transform: translateX(-50%);
  top: 10px;
  background: transparent;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  
}


.card-content {
  position: absolute;
  color: #666;
  font-family: roboto;
  overflow: hidden;
  margin-top: 17px;
  padding: 5px 20px;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  
}
.card-smalltxt {
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
  position: absolute;
  font-family: roboto;
  color: #ccc;
  text-align: left;
  margin-top: 45px;
  overflow: hidden;
  padding: 5px 20px;
  text-transform: capitalize;
  
  
}

.text-wrap{
  position: absolute;
  width: 80%;
  left: 15%;
  height: 100%;
  background-size: cover;
  background-position: center;
  
  
}
.tabbed-icons {
  width: 100%;
  display: flex;
  padding: 10px;
  padding-left: 5px;
  outline: 0;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center
}

.tabbed-icon {
  margin-right: 10px;
  padding-left: 0;
  flex: 0 0 auto
}

.tabbed-icon__svg {
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 24%), 0 2px 2px -1px rgba(0, 0, 0, 60%)
}

.profile-wrap {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px
}

.profile-img {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 50%
}

.tabbed-icon_svg.tabbed-icon_svg--purple {
  background-color: #ccc
}

.tabbed-icon__link {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #141823;
  width: 60px;
  height: auto;
  font-family: var(--font-family);
  
  display: block;
  display: -webkit-box;
  margin-top: 5px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}

.forum-content {
  width: 100%
}


.top-image{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 24%), 0 2px 2px -1px rgba(0, 0, 0, 60%);
}
