@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background-color: #ccc;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
a {
  text-decoration:none;
  color: #666; 
  
}
.card {
  display: block;
  color: initial;
  text-decoration: none;
  width: 100%;
  height: 60px;
  border-radius: 50px ;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  position: relative;
}
.card-outer{
     display: block;
  color: initial;
    border: 1px solid rgba(255,255,255,.6);
  text-decoration: none;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.1), 50%, rgba(0,0,0,.02) 3%, rgba(0,0,0,.1));
  border-radius: 50px ;
  position: relative;
}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0, .1);
    height: 60px;
    width: 90px;
    border-right: 1px solid rgba(0,0,0, .2);
    border-radius: 30px 0px 0px 30px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}


.card-content {
  position: absolute;
  color: #fff;
    font-family: roboto;
  overflow: hidden;
    margin-top: 12px;
    padding: 5px 20px;
  text-align: left;
    font-size: 20px;
    font-weight: 900;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: white;
    text-decoration: none;
}


.text-wrap{
    position: absolute;
    width: 80%;
    left: 35%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-transform:uppercase;
    text-decoration: none;
}